
.auth-content .auth-body {
    background-color: #fafafa;
    padding: 20px 5px;
    border-radius: 5px;
}
.auth-content .auth-body .input {
    padding: 4px 0;
}
.auth-content .auth-body a {
    padding: 6px 13px;
    background-color: var(--primary);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}
.auth-content .auth-body a:hover{
    color: white !important;
}
.auth-content .auth-body p{
    color: var(--primary);
}
.auth-content .click-here-btn{
    text-decoration: underline; 
    background-color: transparent !important; 
    padding: 0 !important; 
    color: #8a6d3b !important;
    margin-top: 0 !important;
}
.auth-content .auth-body .click-here-btn:hover{
    color: #8a6d3b !important;
}
.auth-content .auth-body .have-account-instruction {
    background-color: #f2dede;
    color: #b91e1e;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 4px;
}
.auth-content .auth-body .register-instruction {
    display: inline-block;
    padding: 10px 10px;
    background-color: #fef3ea;
    border-radius: 5px;
    color: #8a6d3b;
    text-align: justify;
}