.home-content .social-share{
    text-align: right;
}
.home-content .social-share a i {
    font-size: 20px;
    color: var(--primary);
}
.home-content .company-description{
    padding-bottom: 5px;
}



/*---------------------------------
           ACHIEVEMENT CSS
---------------------------------*/
.home-content .achievement .achievement-title {
    width: 60%;
    background-color: #e8e8e8;
}
.home-content .achievement .total-achievement{
    width: 40%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e8e8e8;
}
.home-content .achievement p {
    padding: 4px 10px;
    font-size: 14px;
}
.home-content .achievement span {
    padding: 4px 10px;
    font-size: 14px;
    display: inline-block;
}
.home-content .achievement .achievement-item{
    margin-bottom: 1px;
}


/*---------------------------------
         NEW ADDED CSS
---------------------------------*/
.home-content .new-added .table > tbody > tr:nth-child(odd) > td, .table > tbody > tr:nth-child(odd) > th {
    background-color: #ffffff !important;
    padding: 4px;
}
.home-content .new-added .table > tbody > tr:nth-child(even) > td, .table > tbody > tr:nth-child(even) > th {
    background-color: #f9f9f9 !important;
    padding: 4px;
}
.home-content .new-added thead tr{
    background-color: #f9f9f9;
}
.home-content .new-added .nav-tabs .nav-link{
    color: var(--primary);
    background-color: #f9f9f9;
    margin-right: 2px;
    margin-bottom: 0px;
}
.home-content .new-added .nav-tabs .nav-item.show .nav-link, .home-content .new-added .nav-tabs .nav-link.active {
    color: var(--secondary);
    margin-bottom: -1px;
    border-color: #dee2e6 #dee2e6 #f9f9f9;
    font-weight: 600;
}



/*---------------------------------
         SELECTED POEM CSS
---------------------------------*/
.home-content .selected-poem .item {
    position: relative;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 30px;
}
.home-content .selected-poem .item .poem-title {
    color: var(--secondary);
    font-size: 16px;
}
.home-content .selected-poem .item .poem-writer {
    padding-left: 100px;
    color: var(--secondary);
    margin: 4px 0 25px 0;
}
.home-content .selected-poem .item a {
    padding: 2px 6px;
    background-color: var(--primary);
    font-size: 12px;
    color: white;
    border-radius: 4px;
    position: absolute;
    right: 0;
}
.home-content .selected-poem .item a:hover{
    color: white !important;
}


/*---------------------------------
         OTHER WEBSITES CSS
---------------------------------*/
.home-content .other-websites{
    margin-bottom: 30px;
}
.home-content .other-websites>p{
    margin-bottom: 30px;
}
.home-content .other-websites .item {
    padding: 10px;
    margin-bottom: 10px;
}
.home-content .other-websites .item .image {
    margin: 0 auto;
    background-color: white;
}
.home-content .other-websites .item .img {
    width: 70%;
    height: 80px;
    margin: 0 auto;
}
.home-content .other-websites .item h5 {
    color: #F0F9B4;
    text-align: center;
    margin: 10px 0 25px 0;
    position: relative;
}
.home-content .other-websites .item h5::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.4);
}
.home-content .other-websites .item p {
    color: white;
    text-align: justify;
    font-size: 15px;
}
.home-content .other-websites .item span {
    text-align: center;
    display: block;
    color: white;
    opacity: 0.4;
}



/*---------------------------------
           BIRTHDAY CSS
---------------------------------*/
.home-content .content-right-body{
    background-color: #e8e8e8;
}
.home-content .birthday {
    padding: 10px 0 10px 10px;
}
.home-content .content-right h2{
    margin-top: 20px;
}
.home-content .birthday .item{
    padding: 0 10px 10px 0;
}
.home-content .birthday .item .img {
    border: 4px solid white;
    width: 100%;
    height: 150px;
}
.home-content .birthday .item .name {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: var(--secondary);
}
.home-content .birthday-body {
    height: 390px;
    overflow-x: hidden;
    padding-right: 2px;
}


/*---------------------------------
           FAMOUS WRITER CSS
---------------------------------*/
.home-content .famous-writer{
    padding: 10px;
}
.home-content .famous-writer .after {
    margin: -6px auto 6px auto;
    height: 0;
    border-top: 1px solid rgb(204, 204, 204,0.7);
    border-bottom: 1px solid #ffffff;
}
.home-content .famous-writer ul {
    margin: 15px 0;
    background-color: #efefef;
}
.home-content .famous-writer ul li {
    margin: -2px 0 8px 0;
    padding-left: 5px;
}
.home-content .famous-writer ul li a {
    font-size: 14px;
    color: var(--secondary);
}
.home-content .famous-writer ul li a:hover{
    color: var(--primary) !important;
}



/*---------------------------------
           PDF BOOKS CSS
---------------------------------*/
.home-content .pdf-books{
    padding: 10px;
}
.home-content .pdf-books .item .img {
    border: 4px solid white;
    width: 100%;
    height: 200px;
}
.home-content .pdf-books .item .name {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: var(--secondary);
}
.home-content .pdf-books-body {
    padding-right: 0px;
}

