.navbar{
    padding: 0;
    background-color: var(--secondary);
    height: 30px;
    margin-top: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.navbar .navbar-nav{
    margin-top: -8px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 8px 13px;
    background-color: var(--primary);
    color: var(--white);
}
.navbar .navbar-nav .nav-item .nav-link.active{
    background-color: #156D87;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: #02485c;
    color: var(--white) !important;
}
.navbar .navbar-nav .nav-item:first-child .nav-link{
    border-top-left-radius: 8px;
}
.navbar .navbar-nav .nav-item:last-child .nav-link{
    border-top-right-radius: 8px;
}
.navbar .todays-date{
    margin-right: 15px;
}
.navbar .todays-date p{
    color: var(--white);
}



